In [1]:
import numpy as np

**Valid Sudoku**

In [2]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [3]:
s.sum()

np.int64(405)

In [4]:
b = np.sum(s,axis=1)# checking if all the sum of rows are 45 or not 
for i in b:
    print(i)
    #if i !=45:
        #print("suduko is invalid")
        #break
#else:
    #print("suduko is valid for rows")

45
45
45
45
45
45
45
45
45

In [5]:
c = np.sum(s,axis=0)# checking if all the sum of columns are 45 or not 
for i in c:
    print(i)
    #if i !=45:
        #print("suduko is invalid")
        #break
#else:
    #print("suduko is valid for columns")

45
45
45
45
45
45
45
45
45

In [6]:
s[0:3,0:3]

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [7]:
s[0:3,3:6]

array([[6, 7, 8],
       [1, 9, 5],
       [3, 4, 2]])

In [8]:
s[0:3,6:9]

array([[9, 1, 2],
       [3, 4, 8],
       [5, 6, 7]])

In [9]:
sum = 0
for i in range(0,9,3):
    for j in range(0,9,3):
        n =(s[i:i+3,j:j+3])
        sum+=np.sum(n)
print(sum)
rows = s.shape[0]
if sum==45*rows:
    print("sudoku is vaild")
else:
    print("sudoku is invalid")

405
sudoku is vaild

**General Questions**

In [10]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [11]:
#Get the shape of the matrix.
np.shape(data)#data.shape

(5, 3)

In [12]:
#Find the average age of students.
"""a=data[:,0:1]
a
sum=0
for i in range(0,len(a),1):
    sum+=a[i]
avg=sum/len(a)  
print(avg)"""
np.mean(data[:,0])

np.float64(18.4)

In [13]:
#Extract Math marks of all students.
data[:,1]

array([85, 92, 76, 65, 90])

In [14]:
#Find the highest Science mark.
np.max(data[:,2])

np.int64(95)

In [15]:
#get details of students who scored more than 90 in math.
data[data[:,1]> 90]

array([[19, 92, 88]])

In [16]:
#increase the math marks of all the students by 5.
#data2=data[:,1] wrong approach
#data2+5
data[:,1]+=5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [17]:
#Find how many students are younger than 19.
len(data[data[:,0]<19])

3

In [18]:
#Calculate the average marks in each subject (column-wise mean).
np.mean(data[:,1:3],axis=0)
#np.mean(data[:,1:3])

array([86.6, 83.2])

In [19]:
#Get data of students who scored at least 80 in both subjects.
data[(data[:,1]>=80) & (data[:,2]>=80)] # data[...]: The entire combined mask is used to select and return the complete rows (all columns of data) that satisfy both conditions.

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [20]:
#Replace all Science marks < 75 with 0.
data[:,2][data[:,2]<75]=0 # data[:, 2][...]: This uses the boolean mask to select only the scores that are less than 75. = 0: The assignment sets the value of all the selected scores (those less than 75) to 0.
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70,  0],
       [20, 95, 85]])

In [21]:
s.shape[1]

9